# @GokuMohandas is the code owner for
# document-classification and should review any PRs
* @GokuMohandas

src/                 @GokuMohandas
.dockerignore        @GokuMohandas
.gitignore           @GokuMohandas
CODE_OF_CONDUCT.md   @GokuMohandas
CODEOWNERS           @GokuMohandas
Dockerfile           @GokuMohandas
LICENSE              @GokuMohandas
README.md            @GokuMohandas